
<div class="modal-header">

    <h4 class="modal-title" id="modal-title">
        Abilitazione diarie
    </h4>

    <button
        type="button"
        class="btn-close" 
        (click)="activeModal.dismiss('Cross click')"
    ></button>
</div>

<div class="modal-body">
    <form novalidate>

        <div class="flexgrid flexgrid--2">
            
        </div>

    </form>
</div>

<div class="modal-footer">

    <button
        type="button"
        class="btn btn-outline-secondary ms-auto"
        (click)="activeModal.dismiss('Cancel')"
    >
        Cancella
    </button>

    <button
        type="button"
        class="btn btn-primary"
        
    >
        Salva
    </button>
</div>