<ng-template #loading>
    <div class="text-center py-4">
        <div class="spinner-border"></div>
    </div>
</ng-template>

<ng-container *ngIf="!isLoading; else loading">
    <div class="modal-header">

        <h4 class="modal-title" id="modal-title">
            {{ dialogMode }} sottocommessa
        </h4>

        <button
            type="button"
            class="btn-close" 
            (click)="activeModal.dismiss('Cross click')"
        ></button>
        </div>

        <div class="modal-body">

            <ng-template #utenteTmpl let-r="result" let-t="term">
                <div class="my-1">
                    <div class="small">{{ r.idUtente }}</div>
                    <ngb-highlight [result]="r.cognome + ' '  + r.nome" [term]="t"></ngb-highlight>
                </div>
            </ng-template>

            <form [formGroup]="form">

                <div class="flexgrid flexgrid--2">

                    <app-input
                        name="codiceSottocommessa"
                        label="Codice sottocommessa *"
                        [ngControl]="form.controls['codiceCommessa']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        name="descrizione"
                        label="Descrizione *"
                        [ngControl]="form.controls['descrizione']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        type="autocomplete"
                        name="projectManager"
                        label="Project manager *"
                        [options]="projectManagers"
                        [formatter]="utenteFormatter"
                        [template]="utenteTmpl"
                        [ngControl]="form.controls['projectManager']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        type="autocomplete"
                        name="supportoController"
                        label="Supporto controller"
                        [options]="utenti"
                        [formatter]="utenteFormatter"
                        [template]="utenteTmpl"
                        [ngControl]="form.controls['supportoController']"
                        [floatingLabel]="true"
                    ></app-input>
                </div>

                <div class="flexgrid flexgrid--3">
                    
                    <app-input
                        type="select"
                        name="iniziativa"
                        label="Iniziativa"
                        [helper]="
                            !iniziative.length
                                ? 'Non ci sono iniziative per questa commessa'
                                : ''
                        "
                        [ngControl]="form.controls['iniziativa']"
                        [options]="iniziative"
                        [floatingLabel]="true"
                        [disabled]="!iniziative.length"
                    ></app-input>

                    <app-input
                        type="autocomplete"
                        name="tipoFatturazione"
                        label="Tipo fatturazione *"
                        [options]="tipiFatturazione"
                        [formatter]="tipoFatturazioneFormatter"
                        [ngControl]="form.controls['tipoFatturazione']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        name="importo"
                        label="Importo *"
                        [mask]="euroMask"
                        [ngControl]="form.controls['importo']"
                        [floatingLabel]="true"
                    ></app-input>
                </div>

                <div class="flexgrid flexgrid--2">

                    <app-input
                        type="autocomplete"
                        name="commessaRendicontazione"
                        label="Commessa rendicontazione"
                        [options]="commesse"
                        [limit]="25"
                        [formatter]="commessaFormatter"
                        [ngControl]="form.controls['commessaRendicontazione']"
                        [floatingLabel]="true"
                    ></app-input>
    
                    <app-input
                        type="autocomplete"
                        name="commessaFatturazione"
                        label="Commessa fatturazione"
                        [options]="commesse"
                        [limit]="25"
                        [formatter]="commessaFormatter"
                        [ngControl]="form.controls['commessaFatturazione']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        type="date"
                        name="dataInizio"
                        label="Data inizio"
                        [max]="form.value.dataFine"
                        [ngControl]="form.controls['dataInizio']"
                        [floatingLabel]="true"
                    ></app-input>

                    <app-input
                        type="date"
                        name="dataFine"
                        label="Data fine"
                        [min]="form.value.dataInizio"
                        [ngControl]="form.controls['dataFine']"
                        [floatingLabel]="true"
                    ></app-input>
                </div>

                <div class="flexgrid">
                    <app-input
                        type="checkbox"
                        name="ribaltabileCliente"
                        label="Spese trasferta ribaltabili al cliente"
                        [ngControl]="form.controls['ribaltabileCliente']"
                    ></app-input>
                </div>
            </form>
        </div>

        <div class="modal-footer">

            <button
                type="button"
                class="btn btn-outline-secondary ms-auto"
                (click)="activeModal.dismiss('Cancel')"
            >
                Cancella
            </button>

            <button
                type="button"
                class="btn btn-primary"
                [disabled]="form.invalid"
                (click)="save()"
            >
                Salva
            </button>
        </div>
</ng-container>