<div class="container-xxxl py-5 px-3">

    <div class="col-md-8 mx-auto mb-4 card card-body shadow">

        <h5>Filtri ricerca</h5>

        <div class="flexgrid flexgrid--2">

            <app-input
                #clienteAutocomplete
                type="autocomplete"
                name="cliente"
                label="Cliente"
                [options]="clienti"
                [limit]="25"
                [formatter]="clienteFormatter"
                [ngControl]="clienteCtrl"
                [floatingLabel]="true"
            ></app-input>

            <app-input
                type="select"
                name="stato"
                label="Stato"
                [ngControl]="statoAvanzamentoCtrl"
                [options]="statiAvanzamento"
                [floatingLabel]="true"
            ></app-input>
        </div>
                
        <div class="flexgrid flexgrid--3">

            <app-monthpicker
                name="mese"
                label="Mese"                        
                [ngControl]="meseCtrl"  
                [floatingLabel]="true"        
            ></app-monthpicker>

            <app-input
                type="select"
                name="statoAvanzamento"
                label="Stato avanzamento"
                [ngControl]="statoCtrl"
                [options]="stati"
                [floatingLabel]="true"
            ></app-input>     
        </div>

        <div class="flexgrid flexgrid--3">

            <app-input
                #sottocommessaAutocomplete
                type="autocomplete"
                name="sottocommessa"
                label="Sottocommessa"
                [options]="sottocommesse"
                [formatter]="sottocommessaFormatter"
                [template]="scTmpl"
                [ngControl]="sottocommessaCtrl"
                [floatingLabel]="true"
            ></app-input>
            <ng-template #scTmpl let-r="result" let-t="term">
                <div class="my-1">
                    <div class="small">{{ r.sottoCommessa?.codice }}</div>
                    <ngb-highlight [result]="r.sottoCommessa?.descrizione" [term]="t"></ngb-highlight>
                </div>
            </ng-template>

            <app-input
                *rbacAllow="[ ROLES.AMMINISTRATORE, ROLES.BUSINESS_MANAGER ]"
                #pmAutocomplete
                type="autocomplete"
                name="projectManager"
                label="Project manager"
                [options]="pmList"
                [formatter]="pmFormatter"
                [template]="pmTmpl"
                [ngControl]="pmCtrl"
                [floatingLabel]="true"
            ></app-input>
            <ng-template #pmTmpl let-r="result" let-t="term">
                <div class="my-1">
                    <div class="small">{{ r.idUtente }}</div>
                    <ngb-highlight [result]="r.cognome + ' '  + r.nome" [term]="t"></ngb-highlight>
                </div>
            </ng-template>

            <app-input
                *rbacAllow="[ ROLES.AMMINISTRATORE ]"
                #bmAutocomplete
                type="autocomplete"
                name="businessManager"
                label="Business manager"
                [options]="bmList"
                [formatter]="pmFormatter"
                [template]="pmTmpl"
                [ngControl]="bmCtrl"
                [floatingLabel]="true"
            ></app-input>
        </div>

        <div class="text-center my-3">
            <div class="btn-group shadow">

                <button
                    class="btn btn-outline-primary"
                    (click)="resetControls()"
                >
                    <i class="bi bi-x-lg pe-2"></i>
                    Reset
                </button>

                <button
                    class="btn btn-primary"
                    [disabled]="
                        !intersection(
                            [ ROLES.AMMINISTRATORE, ROLES.BUSINESS_MANAGER, ROLES.PROJECT_MANAGER ],
                            authService.user.roles
                        ).length
                    "
                    (click)="searchClick$.next()"
                >
                    Cerca
                    <i class="bi bi-search ps-2"></i>
                </button>
            </div>
        </div>
    </div>

    <ul
        class="app-tabbable nav-tabs"
        ngbNav
        #nav="ngbNav"
        [destroyOnHide]="false"
        [(activeId)]="activeTabId"
    >
        <li *ngFor="let tab of tabs" [ngbNavItem]="tab.id">
            <a ngbNavLink>
                {{ tab.title }}
            </a>
            <ng-template ngbNavContent>

                <app-table
                    class="avanzamento-table"
                    #dt
                    [thead]="thead"
                    [tbody]="tbody"
                    [rowExpand]="rowExpand"
                    [items]="tab.avanzamento"
                    [searchable]="[
                        'commessa.descrizione',
                        'commessa.codice',
                        'cliente.descrizione',
                        'clienteFinale.descrizione'
                    ]"
                    [paginated]="true"
                    [pageSize]="10"
                    [trackByFn]="trackByIdCommessa"
                    emptyMessage="Nessun risultato, effettua una ricerca"
                >

                    <ng-template #thead>
                        <th sortable="dettaglio.length" (sort)="dt.sort($event)"></th>
                        <th class="col-4" sortable="commessa.codice" (sort)="dt.sort($event)">Commessa</th>
                        <th class="col-4" sortable="sottoCommessa.codice" (sort)="dt.sort($event)">Sottocomm.</th>
                        <th class="col-4" sortable="cliente.descrizione" (sort)="dt.sort($event)">Cliente</th>
                        <th class="text-end" sortable="sottoCommessa.costoCompetenza" (sort)="dt.sort($event)">Costo competenza</th>
                        <th class="text-end" sortable="sottoCommessa.importo" (sort)="dt.sort($event)">Importo</th>
                        <th sortable="dataInizio" (sort)="dt.sort($event)">Inizio</th>
                        <th sortable="dataFine" (sort)="dt.sort($event)">Fine</th>
                        <th class="text-end" sortable="stato" (sort)="dt.sort($event)">Totale %</th>
                    </ng-template>

                    <ng-template #tbody let-avanzamento>
                        <td class="text-muted">({{ avanzamento.dettaglioAvanzamento.length }})</td>
                        <td>
                            <div class="small fw-bold">{{ avanzamento.commessa.codice }}</div>
                            {{ avanzamento.commessa.descrizione }}
                        </td>
                        <td>
                            <div class="small fw-bold">{{ avanzamento.sottoCommessa.codice }}</div>
                            {{ avanzamento.sottoCommessa.descrizione }}
                        </td>
                        <td>
                            <div class="small fw-bold">{{ avanzamento.clienteFinale.descrizione }}</div>
                            {{ avanzamento.cliente.descrizione }}
                        </td>
                        <td class="text-end">{{ avanzamento.sottoCommessa.costoCompetenza | currency:"EUR":"symbol" }}</td>
                        <td class="text-end">{{ avanzamento.sottoCommessa.importo | currency:"EUR":"symbol" }}</td>
                        <td class="no-text-break">{{ avanzamento.dataInizio }}</td>
                        <td class="no-text-break">{{ avanzamento.dataFine }}</td>
                        <td class="text-end">{{ avanzamento.stato }}</td>
                    </ng-template>

                    <ng-template #rowExpand let-avanzamento>
                        <div class="bg-white py-5 px-4">
                            <app-table
                                #dt2
                                class="shadow"
                                [thead]="thead2"
                                [tbody]="tbody2"
                                [items]="avanzamento.dettaglioAvanzamento"
                                maxHeight="65vh"
                                [stickyHead]="true"
                            >

                                <ng-template #thead2>
                                    <th sortable="meseValidazione" (sort)="dt2.sort($any($event))">Mese</th>
                                    <th class="text-end" sortable="avanzamentoTotale" (sort)="dt2.sort($any($event))">Mese %</th>
                                    <th class="text-end" sortable="avanzamentoSommatorio" (sort)="dt2.sort($any($event))">Totale %</th>
                                    <th class="text-end" sortable="costoCompetenza" (sort)="dt2.sort($any($event))">Costo Competenza</th>
                                    <th class="text-end" sortable="ricavoCompetenza" (sort)="dt2.sort($any($event))">Ricavo Competenza</th>
                                    <th class="text-center" sortable="statoValidazione.id" (sort)="dt2.sort($any($event))">Stato</th>
                                    <th class="text-center"></th>
                                </ng-template>

                                <ng-template #tbody2 let-dettaglio let-index="index">
                                    <td>{{ dettaglio.meseValidazione }}</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-end gap-2">
                                            <input
                                                #percEl
                                                style="max-width: 5rem"
                                                type="number"
                                                class="form-control"
                                                step="1"
                                                [value]="dettaglio.avanzamentoTotale"
                                                [disabled]="dettaglio.statoValidazione.id !== EnumStatiChiusura.Aperto"
                                                (input)="updateCumulativePercentages(avanzamento, dettaglio, percEl)"
                                                (keyup)="updateCumulativePercentages(avanzamento, dettaglio, percEl)"
                                            >
                                            <div class="no-text-break" style="text-align: right; width: 3rem">
                                                {{ dettaglio.avanzamentoTotale | number : "1.0-2" }} %
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">{{ dettaglio.cumulato | number : "1.0-2" }} %</td>
                                    <td class="text-end">{{ dettaglio.costoCompetenza | currency:"EUR":"symbol" }}</td>
                                    <td class="text-end">{{ dettaglio.ricavoCompetenza | currency:"EUR":"symbol" }}</td>
                                    <td class="text-center">
                                        <fieldset
                                            class="d-flex flex-wrap justify-content-center gap-2"
                                            [disabled]="
                                                !intersection(
                                                    [ ROLES.AMMINISTRATORE, ROLES.BUSINESS_MANAGER ],
                                                    authService.user.roles
                                                ).length
                                             && dettaglio.statoValidazione.id === EnumStatiChiusura.Vistato
                                            "
                                        >

                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    [name]="'stato-' + dettaglio._id"
                                                    [id]="'stato-' + dettaglio._id + '-aperto'"
                                                    [checked]="dettaglio.statoValidazione.id === EnumStatiChiusura.Aperto"
                                                    (change)="changeStatoValidazione(dettaglio, EnumStatiChiusura.Aperto)"
                                                >
                                                <label class="form-check-label" [for]="'stato-' + dettaglio._id + '-aperto'">
                                                    {{ EnumStatiChiusura.Aperto }}
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    [name]="'stato-' + dettaglio._id"
                                                    [id]="'stato-' + dettaglio._id + '-chiuso'"
                                                    [checked]="dettaglio.statoValidazione.id === EnumStatiChiusura.Chiuso"
                                                    (change)="changeStatoValidazione(dettaglio, EnumStatiChiusura.Chiuso)"
                                                >
                                                <label class="form-check-label" [for]="'stato-' + dettaglio._id + '-chiuso'">
                                                    {{ EnumStatiChiusura.Chiuso }}
                                                </label>
                                            </div>

                                            <div class="form-check">
                                                <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    [name]="'stato-' + dettaglio._id"
                                                    [id]="'stato-' + dettaglio._id + '-vistato'"
                                                    [disabled]="
                                                        !intersection(
                                                            [ ROLES.AMMINISTRATORE, ROLES.BUSINESS_MANAGER ],
                                                            authService.user.roles
                                                        ).length
                                                    "
                                                    [checked]="dettaglio.statoValidazione.id === EnumStatiChiusura.Vistato"
                                                    (change)="changeStatoValidazione(dettaglio, EnumStatiChiusura.Vistato)"
                                                >
                                                <label class="form-check-label" [for]="'stato-' + dettaglio._id + '-vistato'">
                                                    {{ EnumStatiChiusura.Vistato }}
                                                </label>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="text-center">
                                        <button
                                            class="btn btn-outline-primary"
                                            [class.pulse]="dettaglio._dirty"
                                            [disabled]="
                                                !intersection(
                                                    [ ROLES.AMMINISTRATORE, ROLES.BUSINESS_MANAGER ],
                                                    authService.user.roles
                                                ).length
                                             && dettaglio.statoValidazione.id === EnumStatiChiusura.Vistato 
                                            "
                                            (click)="salvaDettaglio(dettaglio)"
                                        >
                                            <i class="bi bi-save pe-2"></i>
                                            Save
                                        </button>
                                    </td>
                                </ng-template>
                            </app-table>
                        </div>
                    </ng-template>
                </app-table>
            </ng-template>
        </li>
    </ul>
    
    <div class="card pt-3 shadow">
        
        <div class="my-4 text-center" style="padding-top: 8px" *ngIf="loading; else showResults">
            <app-linear-loading-indicator text="scai"></app-linear-loading-indicator>
            <div class="mt-2 text-muted fst-italic">
                <small>Potrebbe metterci un po'</small>
            </div>
        </div>
        <ng-template #showResults>
            <div [ngbNavOutlet]="nav"></div>
        </ng-template>

        <div
            *ngIf="!loading && (!this.tabs || this.tabs && this.tabs.length === 0)"
            class="p-3 mb-3 text-center text-muted"
        >
            <ng-container *ngIf="!this.tabs; else initialized">
                Cerca <i class="bi bi-search"></i> per aggiungere schede
            </ng-container>
            <ng-template #initialized>
                <ng-container *ngIf="this.tabs!.length === 0">
                    Nessun risultato trovato
                </ng-container>
            </ng-template>
        </div>
    </div>
</div>
